/* You can add global styles to this file, and also import other style files */
@import "material-theming.scss";
@import "common.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.w-65 {
    width: 65%;
}

.w-35 {
    width: 35%;
}

.app-logo-main {
    height: 80px;
    width: 80px;
}

.navbar {
    height: 80px;
}

.sidenav-content,
.navbar-container {
    background-color: var(--primary-color) !important;
}