.mat-mdc-chip-set {
    max-width: 200px;
}

::-webkit-scrollbar {
    width: 0.25em;
    height: 0.25em
}

.chip-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    /* Adjust spacing between chips */
    max-width: 100%;

    /* Ensure the container respects parent width */
    ::ng-deep .mat-mdc-chip-action {
        cursor: pointer;
        /* Adjust padding as needed */
    }
}


.posts-list-container {
    height: 78vh;
    overflow-y: auto;

    ​ .mat-mdc-card-avatar {
        .mat-icon {
            font-size: 40px;
            width: 40px;
            height: 40px;
        }
    }

    .post-content {
        .post-text-content {}

        ::ng-deep .post-actions {

            .like-content,
            .unlike-content {
                .mdc-fab {
                    background-color: transparent;
                    border-radius: 50%;
                    box-shadow: none;

                    .svg-inline--fa {
                        width: 30px;
                        height: 30px;
                    }
                }

                .btn-like,
                .btn-unlike {
                    cursor: pointer;
                    color: #24408F;
                }



                .like-count,
                .unlike-count {
                    width: 30px;
                    height: 40px;
                    font-size: 22px;
                }
            }
        }
    }

}