.form-container {
    margin-bottom: 5rem;
}

.btn-submit {
    position: fixed;
    bottom: 25px;
    right: 25px;
    // width: 100%;
    // background-color: rgba(76, 175, 80, 0.3);
    // opacity: 0.5;
    // padding: 15px 0px;
    // border: 2px solid black;

    button {
        border-radius: 10px;
    }
}

// .file-upload-wrapper {
//     height: 12rem;
// }

.profile-content {
    .profile-content {}
}

.w-99 {
    width: 99%;
}