.w-99 {
    width: 99%;
}

.breadcrumbs {
    font-size: 20px;

    button {
        font-size: 20px;
    }
}

.add-btn {
    button {
        font-size: 20px;
        padding: 20px;
        border-radius: 10px;
    }
}